In [7]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.preprocessing import StandardScaler
from sklearn.utils import resample

from sklearn.metrics import roc_curve, auc

from imblearn.over_sampling import SMOTE

from imblearn.combine import SMOTEENN

In [8]:
df =pd.read_csv('UCI_Credit_Card.csv')

In [9]:
df['default.payment.next.month'].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,30000.0,15000.500000,8660.398374,1.0,7500.75,15000.5,22500.25,30000.0
LIMIT_BAL,30000.0,167484.322667,129747.661567,10000.0,50000.00,140000.0,240000.00,1000000.0
SEX,30000.0,1.603733,0.489129,1.0,1.00,2.0,2.00,2.0
EDUCATION,30000.0,1.853133,0.790349,0.0,1.00,2.0,2.00,6.0
MARRIAGE,30000.0,1.551867,0.521970,0.0,1.00,2.0,2.00,3.0
AGE,30000.0,35.485500,9.217904,21.0,28.00,34.0,41.00,79.0
PAY_0,30000.0,-0.016700,1.123802,-2.0,-1.00,0.0,0.00,8.0
PAY_2,30000.0,-0.133767,1.197186,-2.0,-1.00,0.0,0.00,8.0
PAY_3,30000.0,-0.166200,1.196868,-2.0,-1.00,0.0,0.00,8.0
PAY_4,30000.0,-0.220667,1.169139,-2.0,-1.00,0.0,0.00,8.0
PAY_5,30000.0,-0.266200,1.133187,-2.0,-1.00,0.0,0.00,8.0
PAY_6,30000.0,-0.291100,1.149988,-2.0,-1.00,0.0,0.00,8.0
BILL_AMT1,30000.0,51223.330900,73635.860576,-165580.0,3558.75,22381.5,67091.00,964511.0
BILL_AMT2,30000.0,49179.075167,71173.768783,-69777.0,2984.75,21200.0,64006.25,983931.0
BILL_AMT3,30000.0,47013.154800,69349.387427,-157264.0,2666.25,20088.5,60164.75,1664089.0
BILL_AMT4,30000.0,43262.948967,64332.856134,-170000.0,2326.75,19052.0,54506.00,891586.0
BILL_AMT5,30000.0,40311.400967,60797.155770,-81334.0,1763.00,18104.5,50190.50,927171.0
BILL_AMT6,30000.0,38871.760400,59554.107537,-339603.0,1256.00,17071.0,49198.25,961664.0
PAY_AMT1,30000.0,5663.580500,16563.280354,0.0,1000.00,2100.0,5006.00,873552.0
PAY_AMT2,30000.0,5921.163500,23040.870402,0.0,833.00,2009.0,5000.00,1684259.0
PAY_AMT3,30000.0,5225.681500,17606.961470,0.0,390.00,1800.0,4505.00,896040.0
PAY_AMT4,30000.0,4826.076867,15666.159744,0.0,296.00,1500.0,4013.25,621000.0
PAY_AMT5,30000.0,4799.387633,15278.305679,0.0,252.50,1500.0,4031.50,426529.0
PAY_AMT6,30000.0,5215.502567,17777.465775,0.0,117.75,1500.0,4000.00,528666.0
default.payment.next.month,30000.0,0.221200,0.415062,0.0,0.00,0.0,0.00,1.0

# Smoteenn  - hybrid sampling method

In [11]:
df_smote=df.copy()
y=df_smote['default.payment.next.month']
X=df_smote.drop('default.payment.next.month', axis=1)
sm=SMOTEENN(random_state=1)
X_res, y_res=sm.fit_resample(X,y)
df_balanced=X_res
df_balanced['default.payment.next.month'] = y_res

In [15]:
df_balanced['default.payment.next.month'].value_counts()
new_df=df_balanced.copy()

# data processing and normalization

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [18]:
scaler=MinMaxScaler()
scaler.fit(new_df)
scaled_features = scaler.transform(new_df)
new_df = pd.DataFrame(data=scaled_features, columns= new_df.columns.values)

In [19]:
new_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,27501.0,0.499920,0.277341,0.0,0.264277,0.502717,0.733456,1.0
LIMIT_BAL,27501.0,0.190751,0.170299,0.0,0.054054,0.139038,0.283784,1.0
SEX,27501.0,0.473910,0.499328,0.0,0.000000,0.000000,1.000000,1.0
EDUCATION,27501.0,0.289365,0.117573,0.0,0.166667,0.333333,0.333333,1.0
MARRIAGE,27501.0,0.472746,0.168863,0.0,0.333333,0.333333,0.666667,1.0
AGE,27501.0,0.264679,0.159357,0.0,0.148148,0.240741,0.370370,1.0
PAY_0,27501.0,0.227875,0.113216,0.0,0.200000,0.200000,0.300000,1.0
PAY_2,27501.0,0.240472,0.135164,0.0,0.111111,0.222222,0.333333,1.0
PAY_3,27501.0,0.210040,0.121188,0.0,0.100000,0.200000,0.200000,1.0
PAY_4,27501.0,0.226873,0.135486,0.0,0.111111,0.222222,0.222222,1.0
PAY_5,27501.0,0.220671,0.132059,0.0,0.111111,0.222222,0.222222,1.0
PAY_6,27501.0,0.194106,0.118998,0.0,0.100000,0.200000,0.200000,1.0
BILL_AMT1,27501.0,0.276465,0.092098,0.0,0.218026,0.241423,0.293646,1.0
BILL_AMT2,27501.0,0.178479,0.107127,0.0,0.110043,0.137896,0.197948,1.0
BILL_AMT3,27501.0,0.047333,0.039922,0.0,0.022166,0.032322,0.054329,1.0
BILL_AMT4,27501.0,0.266826,0.079570,0.0,0.216677,0.237406,0.278740,1.0
BILL_AMT5,27501.0,0.198665,0.097682,0.0,0.136819,0.163801,0.213512,1.0
BILL_AMT6,27501.0,0.333852,0.081796,0.0,0.282031,0.304886,0.347430,1.0
PAY_AMT1,27501.0,0.005684,0.017583,0.0,0.000771,0.002290,0.005096,1.0
PAY_AMT2,27501.0,0.002994,0.012657,0.0,0.000395,0.001170,0.002520,1.0
PAY_AMT3,27501.0,0.005266,0.018195,0.0,0.000414,0.001730,0.004319,1.0
PAY_AMT4,27501.0,0.006682,0.020875,0.0,0.000469,0.002080,0.005610,1.0
PAY_AMT5,27501.0,0.009647,0.030789,0.0,0.000720,0.003113,0.008206,1.0
PAY_AMT6,27501.0,0.008599,0.029881,0.0,0.000507,0.002461,0.006550,1.0
default.payment.next.month,27501.0,0.634886,0.481471,0.0,0.000000,1.000000,1.000000,1.0